/* HTML: <div class="loader"></div> */
body{
  background-color: black;
}
.Navigator{
  background-color: #2fc818;
  padding-top: 1px;
  padding-bottom: 1px;
  display: block;
  list-style-type: none;
}
.Navigator div{
  display: inline flex ;
  list-style-type: none;
}
.Logo{
  margin-left: 25px;
  margin-top: 25px;
  border-radius: 30%;
  width: 40px;
  height: 40px;
}
.Headtitle{
  margin-left: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: rgb(7, 5, 5);
}
.loader {
  margin-top: 350px;
  margin-left: 725px;
  width: 90px;
  height: 14px;
  box-shadow: 0 3px 0 #010101;
  position: relative;
  clip-path: inset(-40px 0 -5px)
}
.loader:before {
  content: "";
  position: absolute;
  inset: auto calc(50% - 17px) 0;
  height: 50px;
  --g:no-repeat linear-gradient(#2fe41f 0 0);
  background: var(--g),var(--g),var(--g),var(--g);
  background-size: 16px 14px;
  animation:
    l7-1 2s infinite linear,
    l7-2 2s infinite linear;
}

.containerchannel form{
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.3);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  margin-top: 10%;
  color: rgb(23, 221, 23);
  width: fit-content;
  height: 250px;
  border:6px whitesmoke solid;
  border-radius: 3%;
  font-size: 40px;
}
.containerchannel input{
  font-size: 25px;
  border: #2fe41f 2px solid;
  border-radius: 2%;
}
.containerchannel button{
  font-size: 24px;
  color: #2fc818;
  background-color: #010101;
  border: #2fe41f 2px solid;
  border-radius: 8%;
}

@keyframes l7-1 {
  0%,
  100%  {background-position: 0 -50px,100% -50px}
  17.5% {background-position: 0 100%,100% -50px,0 -50px,100% -50px}
  35%   {background-position: 0 100%,100% 100% ,0 -50px,100% -50px}
  52.5% {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% -50px}
  70%,
  98%  {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% calc(100% - 16px)}
}
@keyframes l7-2 {
  0%,70% {transform:translate(0)}  
  100%  {transform:translate(200%)}
}