<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav class="Navigator">
            <div>
                <div>
                    <img class="Logo" src="{{ url_for('static', filename='TubeVibe.png') }}" alt="TubeVibe Logo">
                </div>
                <div class="Headtitle">
                <p>TubeVibe</p>
            </div>
        </div>
        </nav>
        <div>
        <div class="containerchannel">
                <form>
                    <div class="inputs1">
                        <p>Enter Channel url</p>
                        <input type="text" name="handle" placeholder="Channel url....." />
                    </div>

                    <div class="inputs2">
                        <button type="submit">Submit</button>
                    </div>

                    <div >
                        {% if stats %}
                        <div class="results" style="text-align: center; margin-top: 50px; color: white;">
                        <h1>Results for {{ stats.title }}</h1>
                        <p>Subscribers: {{ stats.subs }}</p>
                        <p>Total Views: {{ stats.views }}</p>
                        </div>
                        {% endif %}
                    {% if error %}
                        <p style="color: red;">{{ error }}</p>
                    {% endif %}
                    </div>
                </form>
        </div>
        </div>
    </body>
</html>